@font-face {
    font-family: "Somomo";
    src: url("/fonts/Keifont.woff2") format("woff2"),
         url("/fonts/Keifont.woff") format("woff");
    font-display: swap;
}

:root {
    --font-main: "Somomo", sans-serif;
}
